<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Cart</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <link href="../static/css/addressship.css"
          th:href="@{/css/addressship.css}" rel="stylesheet" media="screen"/>
    <style>
        h6{
        background-color: transparent;
        }
        body,html{
        height: 100%;
        background-image: url("../images/kitchen.jpg");
        }
    </style>

</head>
<body>
<!--/*/ <th:block th:include="fragments/headerN :: headerN"></th:block> /*/-->

<div class="container">

    <div class="row main" th:if="${not #lists.isEmpty(user.cart.cartDetails)}">
        <div th:each="cartDetails : *{user.cart.cartDetails}">
            <input type="hidden" th:field="*{user.cart.cartDetails[__${cartDetailsStat.index}__].id}"/>
            <input type="hidden" th:field="*{user.cart.cartDetails[__${cartDetailsStat.index}__].version}"/>
            <input type="hidden" th:field="*{user.cart.cartDetails[__${cartDetailsStat.index}__].cart}"/>
            <input type="hidden" th:field="*{user.cart.cartDetails[__${cartDetailsStat.index}__].product}"/>
            <input type="hidden" th:field="*{user.cart.cartDetails[__${cartDetailsStat.index}__].quantity}"/>
        </div>

        <div class="main-login main-center">
            <h6>Shipping address</h6>
            <form class="form-horizontal" th:object="${addressShipping}" th:action="@{/user/finalizeOrder/}"
                  method="post">
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card-o"
                                                               aria-hidden="true"></i></span>
                            <input type="text" th:field="*{addressLine1}" autofocus="autofocus"
                                   class="form-control" name="addressline1" id="addressline1"
                                   placeholder="Address line one" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card-o"
                                                               aria-hidden="true"></i></span>
                            <input type="text" th:field="*{addressLine2}"
                                   class="form-control" name="addresslinetwo" id="addresslinetwo"
                                   placeholder="Address line two"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{cityShipping}"
                                   class="form-control" name="city" id="city" placeholder="City" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{stateShipping}"
                                   class="form-control" name="state" id="state" placeholder="State" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <input type="number" th:field="*{zipCodeShipping}"
                                   class="form-control" name="zip-code" id="zip-code"
                                   placeholder="Zip-code" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button   type="submit"  id="button" class="btn btn-primary btn-lg btn-block">Send order</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>