<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">

    <title>Home</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/intro.css"
          th:href="@{/css/intro.css}" rel="stylesheet" media="screen"/>
</head>
<body>


    <!--/*/ <th:block th:include="fragments/headerN :: headerN"></th:block> /*/-->

    <footer>
        <p style="color:#fff;">Order with our chatbot  <a href="https://www.messenger.com/t/RoburgerChatbot" class="btn btn-lg btn-primary btn-circle" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></p>
    </footer>

</body>
</html>